{% extends 'main/layout.html' %}

{% block title %}TechSpecto{% endblock %}

{% block content %}
    <div class="future">
        <h1>Добро пожаловать!</h1>
        <p>Рады видеть вас в качестве гостя на нашем сайте. Наш портал Техно-Эксперт посвящен вопросам выбора и покупки бытовой техники для дома, электроники, различных мобильных гаджетов.

Как избежать распространенных ошибок во время приобретения, как правильно пользоваться, какие модели считаются лучшими.

Мы делаем упор на рейтинги различных устройств, чтобы вы могли быстро сравнить самые популярные модели, выбрать и купить лучшее.</p>
    </div>
{% endblock %}