* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333; /* Цвет фона шапки */
    color: white;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem; /* Внутренние отступы шапки */
}

.logo-container {
    display: flex;
    align-items: center; /* Выравнивание логотипа и названия сайта по вертикали */
    /* Дополнительные стили для логотипа и названия сайта, если нужно */
    text-align: left;
}

.logo-image {
    height: 80px; /* Высота логотипа */
    margin-right: 0.5rem;
    text-align: left;
}

.text-container {
    display: flex;
    flex-direction: column;
    text-align: left; /* Выравнивание текста по левому краю */
    font-weight: bold; /* Делает текст жирным */
    font-size: larger; /* Увеличивает размер шрифта */
}




.navigation-menu {
    padding: 0; /* Убрать внутренние отступы списка */
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    text-align: center;
}

.navigation-menu li {
    display: inline-block; /* Сделать элементы списка блочными и расположить в одну строку */
    margin: 0 15px; /* Добавить небольшие отступы между элементами */
}

/* Опционально, чтобы стилизовать ссылки */
.navigation-menu li a {
    text-decoration: none; /* Убрать подчеркивание ссылок */
    font-weight: bold; /* Делает текст жирным */
    font-size: larger; /* Увеличивает размер шрифта */
    color: orange; /* Меняет цвет ссылок на оранжевый */
}

/* Добавьте следующие стили, чтобы центрировать navigation-menu в шапке */
header .logo-container {
    flex: 1; /* Расширить контейнер логотипа, чтобы вытолкнуть navigation-menu в центр */
    text-align: center; /* Центрировать текст внутри логотипа и названия сайта */
}

.navigation-menu {
    display: inline-block; /* Сделать список inline-block, чтобы центрировать его по горизонтали */
}


html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Минимальная высота будет равна высоте области просмотра */
}

main {
    flex: 1;
    padding: 20px; /* Отступы внутри основного содержимого */
    background: url('../img/back.png') no-repeat center center fixed;
    background-size: cover; /* Заполнение всей доступной области без потери пропорций */
    /* Добавьте эти стили, если хотите, чтобы фоновое изображение не прокручивалось вместе со страницей */
    opacity: 0.9;
}

footer {
    background-color: #333; /* Цвет фона футера */
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

.features {
    text-align: center; /* Выравнивание текста по центру */
    color: black; /* Белый цвет текста */
    font-size: 1.2em; /* Увеличенный размер шрифта */
    font-weight: bold; /* Жирный шрифт */
    background: orange; /* Фоновый цвет, если нужен (пример: синий) */
    /* Другие стили, если они нужны, например, отступы */
    padding: 20px;
}


/* Если background фона слишком яркий, можно добавить полупрозрачный слой для улучшения читаемости */
.features:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный слой */
    z-index: -1;
}

/* Добавление относительного позиционирования к .features для корректного отображения псевдоэлемента */
.features {
    position: relative;
}


.site-name {
    font-size: 1.5rem; /* Размер шрифта названия сайта */
    font-weight: bold;
    display: block; /* Это обеспечит, что 'site-name' отображается как блочный элемент */
    margin: 0; /* Убираем любые стандартные отступы */
    padding: 0; /* Убираем внутренние отступы */
    text-align: left; /* Выравнивание текста по левому краю */
}

.site-description {
    display: block; /* Элемент блочный, занимает всю ширину и начинается с новой строки */
    font-size: smaller; /* Уменьшенный размер шрифта */
    color: gray; /* Цвет текста */
    margin-top: 5px; /* Небольшой отступ сверху для разделения с 'site-name' */
    text-align: left;
}


/* Стили для основного контента страницы */
.content {
    text-align: center; /* Выравнивание текста по центру */
    color: orange; /* Цвет текста - оранжевый */
}


.future, .super {
    background-color: white; /* Фон блока */
    color: black; /* Цвет текста */
    padding: 20px; /* Внутренний отступ */
    margin: 20px auto; /* Вертикальный отступ сверху и снизу, центрирование по горизонтали */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень вокруг блока */
    max-width: 800px; /* Максимальная ширина блока */
    display: block; /* Задает блочное отображение */
}

.future h1, .future p,
.super h1, .super p {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Тень текста для улучшения читаемости */
}

.future {
    margin-bottom: 20px; /* Отступ снизу у блока .future */
}


.review {
    display: flex;
    flex-direction: column; /* Организует содержимое вертикально */
    align-items: center; /* Выравнивает содержимое по центру по горизонтали */
    background-color: gray;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    color: white;
    font-size: 1.1em;
}

.review-header {
    display: flex;
    flex-direction: column; /* Организует содержимое вертикально */
    align-items: center; /* Выравнивает элементы по центру */
    width: 100%; /* Занимает всю ширину карточки */
}

.review-header img {
    max-width: 28%; /* Максимальная ширина изображения */
    height: auto;
    margin-bottom: 20px; /* Отступ снизу от изображения до текста */
}

.review h3, .review p, .review a {
    text-align: center; /* Выравнивает текст и ссылки по центру */
    width: 100%; /* Занимает всю ширину карточки */
}

.review a {
    color: #ffcc00;
    text-decoration: none;
}

.review a:hover {
    text-decoration: underline;
}

.review p:last-child {
    font-style: italic; /* Курсив для текста даты обзора */
}





/* Стили для устройств с максимальной шириной 768px (например, для планшетов и смартфонов) */
@media screen and (max-width: 768px) {
    header {
        flex-direction: column; /* Шапка в столбик */
        align-items: flex-start;
    }

    .logo-container {
        justify-content: center;
        margin-bottom: 10px;
    }

    .navigation-menu {
        position: static;
        display: block;
        text-align: left;
    }

    .navigation-menu li {
        display: block; /* Список в столбик */
        margin: 5px 0;
    }

    .review {
        flex-direction: column; /* Элементы обзора в столбик */
    }

    .review-header {
    display: flex;
    align-items: center; /* Выравнивает элементы по центру по вертикали */
}

.review-header img {
    max-width: 150px; /* или другой подходящий размер */
    height: auto;
    margin-right: 20px;
}


    main, .features, .review {
        padding: 10px; /* Уменьшенные отступы */
    }

    .auth-links a, .navigation-menu li a {
        padding: 5px 10px; /* Уменьшенные отступы для ссылок */
    }

    /* Можно добавить дополнительные стили для других элементов */
}

/* Стили для устройств с максимальной шириной 480px (особенно для смартфонов) */
@media screen and (max-width: 480px) {
    .site-name {
        font-size: 1.2rem; /* Меньший размер шрифта для названия сайта */
    }

    .content, .site-description {
        font-size: 0.9rem; /* Меньший размер шрифта для контента и описания сайта */
    }

    /* Можно добавить дополнительные стили для улучшения читаемости на маленьких экранах */
}
